/* Stylesheet für die Übungswebsite aus ″Einstieg in HTML + CSS″ */ 

/* border-box aktivieren */ 
*, *::before, *::after { box-sizing: border-box; }

/* Hintergrundfarbe für das Stammelement */ 
html { background-color: whitesmoke; }

/* Grundlegende Gestaltung für body */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, 
               "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;             

  /* Hintergrundfarbe und Begrenzung der Breite */ 
  background-color: white; 
  min-width: 320px; 
  max-width: 600px; 

  /* Horizontal zentrieren */ 
  margin: 0.25rem auto;   
}

/* Überschriften mit deutlicher Hierarchie */ 
h1 { font-size: 2.5rem; } 
h2 { font-size: 2rem; } 
h3 { font-size: 1.75rem; } 
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; } 

/* Überschriften etwas weniger fett */ 
h1, h2, h3, h4 { font-weight: 500; } 

/* Collapsing Margins vermeiden */ 
h1, h2, h3, h4, h5, h6,
p, ul, ol, blockquote {
  margin-top: 0; 
}

/* Unterstreichung für Hyperlinks gestalten */ 
a {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1875em; 
}

/* Hyperlinks im Inhaltsbereich gestalten */
.site-content a:link { color: #07b; } 
.site-content a:visited { color: #3ad; } 
.site-content a:hover, .site-content a:focus { color: #f63; } 
.site-content a:active { color: #ec3; }  

/* Externe Hyperlinks kennzeichnen */
/* .site-content a[href^="http"]::after { content: " (in neuem Tab oder Fenster)"; }  */
.site-content a[href^="http"]::after { content: " \2197"; }
/* .site-content a[target="_blank"]::after { content: " \2197"; } */

/* Fine-Tuning: Die Abstände um Logo und Slogan anpassen */ 
.site-header h1 { 
  margin-bottom: 0; 
}
.site-header p {
  margin-top: 0; 
}

/* Grundlegende Gestaltung für die Navigation */ 
.site-nav li { 
    display: inline; 
    margin-right: 0.5rem; 
  }
.site-nav { 
    background-color: #333;
    color: white; 
    padding: 0.5rem;
}
.site-nav ul {
    padding: 0; 
    margin: 0; 
  }
.site-nav a {
    color: white; 
    text-decoration: none; 
}

.current a { 
  text-decoration: underline; 
}

/* Grundlegende Gestaltung für den Footer */ 
.site-footer {
    font-size: smaller; 
    background-color: #333;
    color: white; 
    text-align: right; 
    padding: 0.5rem;
  }

.footer-nav ul {
  margin: 0; 
}
.footer-nav li {
  display: inline;
  margin-right: 0.5rem;
}
.site-footer a {
  color: white; 
  text-decoration: none; 
}


/* Sanftes Scrollen aktivieren */ 
html { 
    scroll-behavior: smooth; 
}

/* Zeilenabstand für den Inhaltsbereich erhöhen */ 
.site-content { line-height: 1.5; } 


/* Grundlegende Gestaltung für den Abschnitt mit den Infoboxen */ 
.infoboxen {
  background-color: #eee; 
  padding: 1rem; 
  margin-bottom: 1rem; 
}
.infobox {
  text-align: center; 
  background-color: white; 
  padding: 1rem;
  margin: 1rem; 
}

/* Grundlegende Gestaltung für die Kundenstimmen */ 
.kundenstimme {
  text-align: center; 
  background-color: #eee;
  color: black;
  background-image: linear-gradient(to right, #eee, whitesmoke); 
  box-shadow: 0 1px 3px rgb(51,51,51,0.3); 

  padding: 1rem;
  border-left: 5px solid #07b;
  margin: 0; 
  margin-bottom: 1rem;
}
.kundenstimme blockquote { 
  margin: 0; 
} 
.kundenstimme p:first-child { 
  font-size: 1.25rem; 
  font-weight: bold; 
}

/* Grundlegende Gestaltung der Inhalte auf der Seite News */ 
.beitragsliste h3, .linklisten h3 {
  padding-top: 0.5rem; 
  border-top: 1px solid whitesmoke; 
  margin-bottom: 0.25rem; 
}

.beitragsliste article, .linklisten section { margin-bottom: 3rem; }
.beitragsinfo { color: gray; }

/* Kontaktadresse nicht kursiv */
address { font-style: normal; }

/* Grundlegende Gestaltung für das Kontaktformular */ 
.kontaktformular form {
  max-width: 500px; 
  background-color: #eee; 
  padding: 1rem; 
}
.kontaktformular div { margin-bottom: 1rem; }
.kontaktformular label { cursor: pointer; } 
.kontaktformular label[for] { display: block; }
.kontaktformular button {
  background-color: #07b;
  color: white; 
  padding: 0.5rem; 
  border: none; 
  font-size: inherit; 
  cursor: pointer; 
} 


/* Innenabstände für die Layoutbereiche */ 
.site-header { padding: 1rem 1rem 0 1rem; } 
.site-nav { padding: 0.5rem 1rem; } 
.site-content { padding: 0 1rem; } 
.site-footer { padding: 0.5rem 1rem; }

/* Vertikale Außenabstände für die Layoutbereiche */ 
.site-header { margin-bottom: 1rem; } 
.site-nav { margin-bottom: 2rem; } 	
.site-content { margin-bottom: 2rem; } 

/* Boxen am Bildschirm ausblenden */
.visually-hidden {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important; 
  overflow: hidden !important;
  white-space: nowrap !important;

  width: 1px !important; 
  height: 1px !important; 
  padding: 0 !important; 
  border: 0 !important; 
  margin: -1px !important; 
}