/*  ==========================================
    Einstieg in HTML und CSS  
    Stylesheet für die Übungswebsite 

    layout.css  
    wird in style.css per @import eingebunden  

    Stylesheet zur Gestaltung der Layoutbereiche
    1. Klassisches Seitenlayout (begrenzte Breite, zentriert) 
    2. Kopfbereich (inklusive Inhalte) 
    3. Inhaltsbereich (Inhalte in eigenem Stylesheet) 
    4. Site-Footer (inklusive Inhalte) 

    Die Gestaltung der Site-Navigation steht in eigenem Stylesheet. 

    ======================================= */

/** 
  * 1. Klassisches Seitenlayout (begrenzte Breite, zentriert) 
  */ 

/* Hintergrundfarbe für das Stammelement */ 
html { background-color: whitesmoke; }

/* Grundlegende Gestaltung für body */
body {
    /* Hintergrundfarbe und Begrenzung der Breite */ 
    background-color: white; 
    min-width: 320px; 
    max-width: 600px; 
  
    /* Horizontal zentrieren */ 
    margin: 0.25rem auto;   
  }


/** 
  * 2. Kopfbereich (inklusive Inhalte)  
  */ 

/* Innen- und Außenabstände */
.site-header { 
  padding: 1rem 1rem 0 1rem; 
  margin-bottom: 1rem; 
} 

/* Fine-Tuning: Die Abstände um Logo und Slogan anpassen */ 
.site-header h1 { margin-bottom: 0; }
.site-header p { margin-top: 0; }


/** 
  * 3. Inhaltsbereich (Inhalte in content.css)  
  */ 

/* Innen- und Außenabstände */
.site-content { 
    line-height: 1.5; 
    padding: 0 1rem; 
    margin-bottom: 2rem; 
} 
 
/** 
  * 4. Fußbereich (inklusive Inhalte)  
  */ 

/* Grundlegende Gestaltung für den Footer */ 
.site-footer {
    font-size: smaller; 
    background-color: #333;
    color: white; 
    text-align: right; 
    padding: 0.5rem 1rem;
  }

/* Die Navigation im Fußbereich */   
.footer-nav ul {
  margin: 0; 
}
.footer-nav li {
  display: inline;
  margin-right: 0.5rem;
}
.site-footer a {
  color: white; 
  text-decoration: none; 
}


/** 
  * Ende layout.css 
  */ 
