/* Stylesheet für die Übungswebsite aus ″Einstieg in HTML + CSS″ */ 

/* Fine-Tuning: Die Abstände um Logo und Slogan anpassen */ 
.site-header h1 { 
  margin-bottom: 0; 
}
.site-header p {
  margin-top: 0; 
}

/* Grundlegende Gestaltung für die Navigation */ 
.site-nav li { 
    display: inline; 
    margin-right: 0.5rem; 
  }
.site-nav { 
    background-color: black;
    color: white; 
    padding: 0.5rem;
    margin: 1rem 0; 
}
.site-nav ul {
    padding: 0; 
    margin: 0; 
  }
.site-nav a {
    color: white; 
    text-decoration: none; 
}

/* Grundlegende Gestaltung für den Footer */ 
.site-footer {
    background-color: black;
    color: white; 
    text-align: right; 
    padding: 0.5rem;
  }
.site-footer a {
    color: white; 
    text-decoration: none; 
}

/* Sanftes Scrollen aktivieren */ 
html { 
    scroll-behavior: smooth; 
}
  
/* Grundlegende Gestaltung für den Abschnitt mit den Infoboxen */ 
.infoboxen {
  background-color: whitesmoke; 
  padding: 1rem; 
  margin-bottom: 1rem; 
}
.infobox {
  text-align: center; 
  background-color: white; 
  padding: 1rem;
  margin: 1rem; 
}
